[Unit]
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bsh run-all

[Install]
Also=backup-sh.timer
